
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-container{
    color: #FFFFFF;
   background-color: #E95A08;
    padding: 8px 85px;
    color: white;
    border: none;
    font-size: 16px;

}
.header{

}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.nav-logo{
    margin-left: 150px;
}
.nav-item{
    display: flex;
   list-style: none;
   margin-right: 48px;
   
   

}
.nav-links{
    display: flex;
    margin-right: 150px;
}
.nav-link{
    text-decoration: none;
    color: #8987A1;
}
.style{
    color: #252432;
}
.banner{
    display: flex;
   
   
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
}
.banner-text{
    max-width: 570px ;
    padding-top: 50px;

    
}
.title-color{
    color: #E95A08;

}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.banner-description{
    max-width: 570px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.banner-img{
    max-width: 570px;
}
/* plant section */
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 1140px;
    align-items: center;
}
.plants{
    align-items: center;
    max-width: 1140px;
    margin: 120px auto;
}
.plant-text{
    text-align: center;
}
.plant-title{
    font-size: 50px;
}
.plant-description{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.name , .price{
text-align: center;
}
/* plant-lover */
.plants-lover{
    display: flex;
    gap: 60px;
    max-width: 1140px;
    margin: 210px auto;
}
.plant-img{
    max-width: 540px;
    position: relative;
    width: 540px;
    height: 597px;
}
.main-img{
    width: 100%;
    height: 100%;
}
.over-img{
    position: absolute;
    bottom: 450px;
    right: -100px;
    width: 286px;
    height: auto;
}
.plants-lover-text{
    max-width: 540px;
}
ul li{
    margin-bottom: 20px;
}
/* Responsive for mobile */
    @media screen and (max-width: 576px) {
      .nav-link {
      display: none;
      }
     
      .banner{
        flex-direction: column-reverse;
      }
      .container{
        grid-template-columns: repeat(2, 1fr);
      }
      .plants-lover{
        flex-direction: column;
      }
      .over-img{
        display: none;
      }
    }